.nickman {
    background-image: url("../Pizza-Images/unnamed.png");
    height: 200px;
    text-align: center;
    font-family: helvetica;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    


}